/* Write your CSS here */
/* Write your CSS here */

.app-container {
  background-color: #93c5fd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #f8fafc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  padding-left: 25px;

  height: 55%;
  width: 45%;
}

.select-container {
  display: flex;
}

.select {
  height: 40px;
  width: 130px;
}

.description {
  color: #323f4b;
  font-size: 20px;
  font-family: roboto;
  margin-left: 15px;
}

.country-name {
  color: #1e293b;
  font-family: roboto;
  font-size: 20px;
  font-weight: 700;
}
